container/.bash_completion
container/.bash_history
container/.cache
container/.daml
container/.emacs.d/*~
container/.emacs.d/elpa
container/.emacs.d/straight
container/.emacs.d/.lsp-session-v1
container/.emacs.d/network-security.data
container/.emacs.d/auto-save-list
container/daml-mode
